<h1><span class="badge badge-primary">CONTACT</span></h1>
<div class="alert alert-dismissible alert-success">
  	<p>You can contact the team by</p>
	<p><strong>mail:</strong> sayna@me.com</p>
	<p><strong>fax:</strong> not_really_bad</p>
	<p><strong>phone:</strong> +261330000</p>
</div>