<br/>
<br/>
<br/>
<h1><span class="badge badge-primary">CITY DETAILS</span></h1>
<div class="alert alert-dismissible alert-success">
	<p><strong>Name :</strong> <%=@gossip.user.city.name%></p>	
	<p><strong>Date of creation:</strong> <%=@gossip.user.city.created_at%></p>
</div>